<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Categorias:</h1>
    <form method="post">
        {% csrf_token %}
        <p>
            <label> Nombre:</label><br>
            <input type="text" name="nombre" value="{{categoria.nombre|default:''}}" required>
        </p>
        <p>
            <label> Observaciones:</label><br>
            <input type="text" name="observaciones" value="{{categoria.observaciones|default:''}}" required>
        </p>

        <button type="submit">Enviar</button>
        
        <a href="/categorias/lista/">Listado de Categorias</a>
    </form>
</body>
</html>